<launch>
        <include file="/opt/ros/kinetic/share/freenect_launch/launch/examples/freenect-registered-xyzrgb.launch"/>
        <node name="iai_updater" pkg="iai_image_logging" type="iai_updater" output="screen"/>
        <node name="iai_configurator" pkg="iai_image_logging" type="iai_configurator" output="screen"/>

</launch>
