<?xml version="1.0" encoding="utf-8"?>

<launch>

    <node name="image_logger" pkg="iai_image_logging" type="image_logger" output="screen"/>
    <node name="preprocessor" pkg="iai_image_logging" type="preprocessor" output="screen"/>
    <node name="logger" pkg="iai_image_logging" type="logger" output="screen"/>

    <node pkg="dynamic_reconfigure" type="dynparam" name="dyn_loader" args="load image_logger /home/tammo/catkin_ws/src/iai_image_logging/iai_image_logging/yaml/matrix/rgb_image_raw_jpeg_20.yaml"/>
    <node pkg="dynamic_reconfigure" type="dynparam" name="dyn_loader2" args="load image_logger /home/tammo/catkin_ws/src/iai_image_logging/iai_image_logging/yaml/matrix/rgb_image_raw_jpeg_40.yaml"/>

</launch>
